   <header>
        <h1>Manager Question</h1>
    </header>
    <body>
      <%@question.Belongto = "admin"%>
      <%@question.save%>
      <meta http-equiv="Refresh" content="0; url='http://localhost:3000/question/user_indexquestion'" />
    </body>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>