   <header>
        <h1>Manager Question</h1>
    </header>
<%=render "show_list_question"%>
<%= link_to 'New Question', new_question_path %>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>