<header>
  <h1>New Question</h1>
</header>
<div class="newques_container">
  <%= render "form", question: @uestion %>
  <%= link_to 'Back', question_index_path %>
</div>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>