<p id="notice"><%= notice %></p>


<div>
  <%= hidden_field_tag :remaining_time, @remaining_time %>
  <%score = 0%>
  
<%@question.each do |questions|%>
<%user_ans = params[(questions.id).to_s].to_s%>
   <%if user_ans.eql? questions.ans.to_s%>
       <%score = score +10%>
  <%end%>
  <%end%>
Your Score: <%=score%>
</div>

