<header>
  <h1>Score</h1>
</header>
  <tbody>
<div id="wrap">
  <form action="/search" autocomplete="on">
  <input id="search" name="q"type="text" placeholder="Search ?">
  <button id="search_submit" type="submit">Search</button>
  </form>
</div>  
<%= render "testofuser/listallsearch" %>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>