<p style="color: green"><%= notice %></p>
<div>
<%if current_user.role == "admin"%>
<%= render 'form', user: @user  %>
  <%= link_to "Back to list", user_path%>
</div>
<%else%>
<h1>You don't have permision</h1>
<%end%>
