<table>
  <thead>
    <tr> <th colspan="3"></th>
    <%count =0 %>
    </tr>
  </thead>
  <tbody>
   <%if current_user.role== "admin" %>
       <% @user.each do |useradmin| %>
       <%if (count !=0)%>
      <tr>
       <th>username: <%=useradmin.username%> </th>
       </tr>
       <tr>
       <th>email: <%=useradmin.email%></th>
         <td><%= link_to 'Edit', edit_user_path(useradmin) %></td>
      </tr>
      <%end%>
      <%count = count +1%>
    <% end %>
   <%else%>
 <h1>You don't have permision</h1>
    <%end%>
  </tbody>
</table>