<p style="color: green"><%= notice %></p>
<div>
<%= render "user/user" %>
  <%= link_to "Back to list", testofuser_path%>
  <%= button_to "Destroy this testofuser", @testofuser, method: :delete %>
</div>
