.pagy-nav {
    display: flex;
    justify-content: flex-start;
    .page {
        margin: 10px 5px;
    }
    .page-link {
        border: 0;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        margin: 0 5px;
        min-width: 32px;
        padding: 0 10px;
        &:focus {
            box-shadow: none;
        }
    }
}

.quiz-container {
    padding: 0em 0.2em;
    h2 {
        background-color: rgb(156, 228, 114);
    }
}