.card {
    margin: 0 auto;
    padding: 40px;
    display: block;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 10px -5px #909090;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#countdown {
    font-size: 500x;
}

.image_size {
    width: 1%;
    margin-bottom: 8px;
}

.tes_user {
    justify-content: flex-start;
    border: 1px solid;
    height: 32px;
    margin: 10px 5px;
    padding: 0 10px;
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        padding: 15px;
        text-align: center;
        border: 0.5px solid;
        height: 70px;
        width: 70%;
        height: 50px;
    }
    tr:hover {
        background-color: coral;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #04AA6D;
        color: white;
        border-color: black;
        text-align: center;
        height: 70px;
        width: 70%;
        height: 50px;
    }
    table {
        border-collapse: collapse;
    }
    h1 {
        text-align: center;
    }
}

#wrap {
    padding: 1em 0.5em 0.5em 1em;
    margin: 50px 50px;
    position: relative;
    text-align: center;
}