<p style="color: green"><%= notice %></p>
<div>

  <%= link_to "Edit this question", edit_question_path(@question) %> 
  <%= button_to "Destroy this question", @question, method: :delete %>
</div>
    