<p style="color: green"><%= notice %></p>
<div>
show

  <%= link_to "Edit this product", edit_question_path(@question) %> |
  <%= link_to "Back to products", question_path%>
  <%= button_to "Destroy this product", @question, method: :delete %>
</div>
    